Source: ros-indigo-common-tutorials
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://ros.org/wiki/common_tutorials
Standards-Version: 3.9.2

Package: ros-indigo-common-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib-tutorials, ros-indigo-nodelet-tutorial-math, ros-indigo-pluginlib-tutorials, ros-indigo-turtle-actionlib
Description: Metapackage that contains common tutorials
