Source: ros-indigo-pluginlib-tutorials
Section: misc
Priority: extra
Maintainer: Isaac Saito <iisaito@kinugarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin, ros-indigo-pluginlib, ros-indigo-roscpp
Homepage: http://www.ros.org/wiki/pluginlib/Tutorials
Standards-Version: 3.9.2

Package: ros-indigo-pluginlib-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-pluginlib, ros-indigo-roscpp
Description: The pluginlib_tutorials package
